DB_HOST=
DB_NAME=
DB_USER=
DB_PASS=
APP_URL=http://reactor.local
APP_ENV=production
SESSION_NAME=reactor_session
SESSION_LIFETIME_DAYS=7
MAIL_FROM=no-replay.reactor@metro-gatecontrol.de
MAIL_FROM_NAME="Реактор: Свобода"
MAIL_PROVIDER=smtp
BREVO_API_KEY=
SMTP_HOST=smtp.ionos.de
SMTP_PORT=465
SMTP_ENCRYPTION=ssl
SMTP_USER=no-replay.reactor@metro-gatecontrol.de
SMTP_PASS=
SMTP_AUTH=login
SMTP_TIMEOUT=15
